// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
    align-self: center;
    position: absolute;
    bottom: .5rem;
    color: black;
    font-size: 12px;
    height: 2.5rem;
}